.video-detail {
    //reset
    .slidebar {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0%) !important;
        }
    }
    .main-content {
        margin-left: 0 !important; 
    }
    //end reset
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 20px;

        @include maxw(1023px){
            grid-template-columns: 1fr !important;
            grid-gap: 20px 0;
        }
        .video-container{
            width: 100%;
            height: auto;
            .video-screen {
                width: 100%;
                height: 450px;
                margin-bottom: 15px;
                
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .video-tags {
                display: flex;
                gap: 0 3px;
                margin-bottom: 3px;
                .video-tag {
                    color: $blue-1;
                    font-size: 12px;
                }
            }
            .video-title {
                font-size: 17px;
                margin-bottom: 15px;
            }
            .video-desc {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $gray-1;
                @include maxw(767px){
                    flex-direction: column;
                    gap: 10px 0;
                    align-items: flex-end;
                    font-size: 13px !important;
                }
                .video-item {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    color: $black-3;
                    @include maxw(767px){
                        font-size: 13px !important;
                        gap: 0 10px;
                    }
                }
                &-left {
                    gap: 0 5px;
                }
                &-right{
                    gap: 0 20px;
                    text-transform: uppercase;
                    .video-like,
                    .video-dislike,
                    .video-share,
                    .video-save,
                    .video-more {
                        display: flex;
                        align-items: center;
                        gap: 0 5px;
                        cursor: pointer;
                        .icon {
                            color: $black-4;
                        }
                    }
                    .like-check {
                        color: $blue-1 !important;
                    }
                    .video-number {
                        display: flex;
                        position: relative;
                        align-items: center;
                        gap:0 20px;
                    }
                    .video-number::before,
                    .video-number::after{
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        height: 2px;
                        background-color: $black-4;
                    }
                    .video-number::before {
                        left: 0;
                        width: 97%;
                        background-color: $blue-1;
                    }
                    .video-number::after {
                        right: 0;
                        width: 3%;
                    }
                }
            }

            .video-channel {
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $gray-1;
                &-info {
                    display: flex;
                    gap: 0 15px;
                    .channel-media {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        flex-shrink: 0;
                        .channel-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: inherit;
                        }
                    }
                    .channel-desc {
                        overflow: hidden;
                        .channel-info {
                            display: flex;
                            align-items: center;
                            gap: 0 5px;
                            font-size: 14px;
                            font-weight: 600;
                            color:$black-1;
                            margin-bottom: 3px;
                            .icon {
                                font-size: 12px;
                            }
                        }
                        .channel-subcribers {
                            font-size: 13px;
                            color: $black-4;
                            margin-bottom: 30px;
                        }

                        .channel-desc-detail {
                            width: 100%;
                            height: 75px;
                            overflow: hidden;
                            &.active {
                                height: auto;  
                            }
                            .desc-detail {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                font-size: 15px;
                                margin-bottom: 10px;
                                
                                i {
                                    color: $black-3;
                                }
                                a {
                                    color:$blue-1;
                                    @include maxw(467px){
                                        display:-webkit-box;
                                        -webkit-line-clamp:1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        word-break: break-word;
                                    }
                                }
                            }
                        }
                        .btn-show-hide {
                            margin-top: 10px;
                            width: fit-content;
                            display: inline-block;
                            text-transform: uppercase;
                            color:$black-4;
                            font-size: 15px;
                            cursor: pointer;
                            
                        }
                    }
                }

                &-sub {
                    .btn-sub {
                        padding: 10px 18px;
                        display: inline-block;
                        color: #fff;
                        background-color: #c00;
                        font-weight: 600;
                        border-radius: 3px;
                    }
                }
            }
            .video-comments{
                display: flex;
                align-items: center;
                gap: 0 30px;
                margin-bottom: 20px;
                .video-comment{
                    color: $black-2;
                }
                .video-filter{
                    display: flex;
                    align-items: center;
                    gap: 0 10px;
                    color: $black-2;
                    cursor: pointer;
                    i {
                        font-size: 21px;
                    }
                    span {
                        text-transform: uppercase;
                    }
                }
            }
            .my-comment {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                gap: 0 15px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    object-fit: cover;
                    flex-shrink: 0;
                }
                .comment-input {
                    width: 100%;
                    padding: 10px 0;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $gray-1;
                    transition: all .3s ease;
                    background-color: transparent;
                    &:focus {
                        border-bottom: 1px solid $black-2;
                    }
                }
            }
            
            .comment-list {
                width: 100%;
                .comment-item {
                    display: flex;
                    gap:0 10px;
                    margin-bottom: 30px;

                    .comment-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;

                        .user-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: inherit;
                        }
                    }

                    .comment-info {
                        font-size: 15px;
                        .user-info {
                            display: flex;
                            align-items: center;
                            gap:0 5px;
                            margin-bottom: 10px;
                            .user-name {
                                color:$black-3;
                                font-weight: bold;
                            }
                            .user-time {
                                color: $black-4;
                                font-size: 13px;
                                cursor: pointer;
                            }
                        }
                        .user-comment {
                            color: $black-2;
                            margin-bottom: 20px;
                        }
                        .user-more {
                            display: flex;
                            align-items: center;
                            gap:0 15px;
                            .user-like,
                            .user-dislike {
                                display: flex;
                                align-items: center;
                                gap: 0 5px;
                                cursor: pointer;
                                i,span{
                                    color: $black-4;
                                }
                            }
                            .user-rep{
                                text-transform: uppercase;
                                color: $black-4;
                                font-weight: 600;
                                font-size: 13px;
                                cursor: pointer;
                            }
                            .author-like {
                                width: 17px;
                                height: 17px;
                                position: relative;
                                background-color: #333;
                                i {
                                    position: absolute ;
                                    bottom: -5px;
                                    right: -5px;
                                    font-size: 13px;
                                    color:#f00;
                                    box-shadow: rgb(255, 255, 255) 0px 1px 4px;
                                }
                            }
                        }
                    }
                }
            }
            
        }

        .videos {
            display: grid;
            grid-template-columns: 1fr !important;
            grid-gap: 5px 0 !important;

            .video {
                display: flex;
                gap: 0 10px;
                &-media {
                    flex-shrink: 0;
                    overflow: hidden !important;
                    width: 200px !important;
                }

                &-content {
                    .author-media {
                        display: none !important;
                    }
                }
            }
        }
    }
}