.header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    
    &-nav {
        display: flex;
        justify-content: space-between;
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 0 20px;
        position: relative;
    }
    &-logo img{
        width: 100px;
    }

    &-search {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        @include maxw(1023px){
            width: 70%;
        }
        @include maxw(767px){
            display: none;
        }
        
        i {
            font-size: 18px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color:#777;
        }
        .search-input {
            width: 570px;
            padding: 5px 7px;
            border: 1px solid $gray-2;
            outline:none;
            height: 100%;
            &:focus {
                border: 1px solid $blue-1;
            }
            @include maxw(1023px){
                width: 70%;
            }
            @include maxw(767px){
                width: 100%;
            }
            
        }
        .btn-search {
            border: 1px solid $gray-2;
            background-color: $gray-3;
            height: 100%;
            width: 60px;
            margin-right: 10px;
            &:hover {
                background-color: $gray-2;
            }
            
        }
        .btn-mirco {
            background-color: $gray-3;
            border-radius: 20px;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            i {
                color:$black-3;
            }
        }
    }

    &-user {
        display: flex;
        align-items: center;
        gap: 0 20px;

        .btn-search-mobile {
            display: none;
            @include maxw(767px){
                display: block;
            }
        }
        .btn-desktop {
            @include maxw(767px){
                display: none;
            }
        }
        .btn-user {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }
    // show search on mobile
    .btn-close-on-search{
        display: none;
    }
    .btn-close-on-search.open-search,
    .header-search.open-search{
        display: flex;
    }
    .btn-hidden-on-search.hidden-search {
        display: none;
    }
}