$font-primary:'Roboto', sans-serif;
$font-second: 'Roboto Slab', serif;

$gray-1: #e5e5e5;
$gray-2: #ededed;
$gray-3: #f8f8f8;

$black-1:#111;
$black-2:#333;
$black-3:#555;

$blue-1: #0077b6;
$blue-2: #48cae4;

$color-primary: #f00;

$w-slidebar: 230px;